@model TeamsManager.Models.PlanModel
@{ ViewBag.Title = "Index"; }

<link rel="stylesheet" href="~/Content/style.css">

<main class="user">
    <div class="left">
        <div class="menu">
            <div class="item active">Home</div>
            <div class="item">Notifications</div>
            <div class="item">Manage Teams</div>
            <div class="item bottom" onclick="location.href='@Url.Action("LogOut", "User")'">Log Out</div>
        </div>
    </div>
    <div class="right">
        <div class="mconatiner">
            <section class="tool-bar">
                <div class="actions">Tool Bar</div>
                <div class="actions profile">
                    @if (Session["UserName"] != null)
                    {
                        <a href="Profile">@Session["UserName"].ToString()</a>
                    }
                </div>
            </section>
            <section class="tab-content">
                <fieldset>
                    <legend>User DashBoard</legend>
                    @if (Session["UserName"] != null && Session["UserID"] != null)
                    {
                        <text>
                            Welcome ID: @Session["UserID"].ToString() Usrename: @Session["UserName"].ToString()
                        </text>
                    }
                </fieldset>
                <input type="button" value="Log Out" onclick="location.href='@Url.Action("LogOut", "User")'" />
                <hr />
                Inbox

                <hr />

                <table class="table-tasks">
                    <tr>
                        <th>#</th>
                        <th>Task Description</th>
                        <th>Status</th>
                        <th>Due Date</th>
                        <th>Tine Remaining</th>
                        <th>Note</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Plan for next year</td>
                        <td>PENDING</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </table>

                <hr />

                @Html.ActionLink("Create new task", "../Plan/Create")

                <hr />

                @Html.ActionLink("View Tasks", "../Plan/Index")

            </section>
        </div>
    </div>
</main>