@model TeamsManager.Models.PlanModel
@{ ViewBag.Title = "Index"; }

<link rel="stylesheet" href="~/Content/style.css">

<main class="user">
    <div class="left">
        <div class="menu">
            <div class="item active">Home</div>
            <div class="item">@Html.ActionLink("Create new task", "../Plan/Create")</div>
            <div class="item">@Html.ActionLink("View Tasks", "../Plan/Index")</div>
            <div class="item bottom" onclick="location.href='@Url.Action("LogOut", "User")'">Log Out</div>
        </div>
    </div>
    <div class="right">
        <div class="mconatiner">
            <section class="tool-bar">
                <div class="actions">Tool Bar</div>
                <div class="actions profile">
                    @if (Session["UserName"] != null)
                    {
                        <a href="Profile">@Session["UserName"].ToString()</a>
                    }
                </div>
            </section>
            <section class="tab-content">
                <fieldset>
                    @if (Session["UserName"] != null && Session["UserID"] != null)
                    {
                        <text>
                            <h3>Welcome <u>@Session["UserName"].ToString()</u></h3>
                        </text>
                    }
                </fieldset>
            </section>
        </div>
    </div>
</main>