@model IEnumerable<TeamsManager.Models.PlanModel>
@{ ViewBag.Title = "Index"; }

<link rel="stylesheet" href="~/Content/style.css">

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Teams Manager", "Create", "Plan", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "User")</li>
                <li>@Html.ActionLink("Back to create", "Create", "Plan")</li>
            </ul>
        </div>
    </div>
</div>

<h2>Index</h2>

<table>
    <tr>
        <th>#</th>
        <th>UId</th>
        <th>Task Name</th>
        <th>Task Description</th>
        <th>Status</th>
        <th>Due Date</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>